{{#extend "layouts/main"}}
  {{#section "title"}}E-commerce{{/section}}
  {{#section "content"}}
    <h1>Productos en tiempo real</h1>
    <div id="container">
      <ul id="lista-productos"></ul>
    </div>
  {{/section}}
  {{#section "scripts"}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
    <script>
      const socket = io.connect();

      socket.on('productos', function (data) {
        let html = '';
        data.forEach(function (prod) {
          html += '<li>' + prod.nombre + '</li>'
        });
        document.getElementById('lista-productos').innerHTML = html;
      });
    </script>
  {{/section}}
{{/extend}}

