<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>

    {{{body}}}

    
    <footer>
        <p>Este es el pie de página</p>
    </footer>
   
    <script src="../../public/js/index.js"></script>
</body>
</html>
